<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.all.in.one.allinone.mapper.mybatisMapper.AdsMapper">

    <select id="findAllAdsPageByPage" resultType="Ads">
        SELECT <include refid="adsBaseColumns"/>
        FROM tb_adss a
        LEFT JOIN tb_ban_type bt ON a.ban_type_id = bt.ban_type_code
        LEFT JOIN tb_city ci ON a.city_id = ci.city_code
        LEFT JOIN tb_colour co ON a.colour_id = co.colour_code
        LEFT JOIN tb_currency cu ON a.currency_id = cu.currency_code
        LEFT JOIN tb_dest_measure dm ON a.dest_measure_id = dm.dest_code
        LEFT JOIN tb_fuel_type ft ON a.fuel_type_id = ft.fuel_type_code
        LEFT JOIN tb_gear_box_type gbt ON a.gear_box_type_id = gbt.gear_box_code
        LEFT JOIN tb_gear_type gt ON a.gear_type_id = gt.gear_type_code
        LEFT JOIN tb_model m ON a.model_id = m.model_code
        LEFT JOIN tb_brand b ON m.brand_id = b.brand_code
        ORDER BY ttl DESC LIMIT #{limit} OFFSET #{from};
    </select>

    <select id="findAllAdsByFilter" resultType="Ads">
        SELECT <include refid="adsBaseColumns"/>
        FROM tb_adss a
        LEFT JOIN tb_ban_type bt ON a.ban_type_id = bt.ban_type_code
        LEFT JOIN tb_city ci ON a.city_id = ci.city_code
        LEFT JOIN tb_colour co ON a.colour_id = co.colour_code
        LEFT JOIN tb_currency cu ON a.currency_id = cu.currency_code
        LEFT JOIN tb_dest_measure dm ON a.dest_measure_id = dm.dest_code
        LEFT JOIN tb_fuel_type ft ON a.fuel_type_id = ft.fuel_type_code
        LEFT JOIN tb_gear_box_type gbt ON a.gear_box_type_id = gbt.gear_box_code
        LEFT JOIN tb_gear_type gt ON a.gear_type_id = gt.gear_type_code
        LEFT JOIN tb_model m ON a.model_id = m.model_code
        LEFT JOIN tb_brand b ON m.brand_id = b.brand_code

        <where>
            1 = 1

            <if test="model != null"> AND a.model_id = #{model} </if>
            <if test="model == null and brand != null"> AND m.brand_id = #{brand} </if>

            <if test="used != null"> AND a.used = #{used} </if>
            <if test="city != null"> AND a.city_id = #{city} </if>
            <if test="priceMin != null"> AND a.price >= #{priceMin} </if>
            <if test="priceMax != null"> AND #{priceMax} >= a.price </if>
            <if test="currency != null"> AND a.currency_id = #{currency} </if>
            <if test="banType != null"> AND a.ban_type_id = #{banType} </if>
            <if test="yearMin != null"> AND a.prod_year >= #{yearMin} </if>
            <if test="yearMax != null"> AND #{yearMax} >= a.prod_year </if>
            <if test="colour != null"> AND a.colour_id = #{colour} </if>
            <if test="fuelType != null"> AND a.fuel_type_id = #{fuelType} </if>
            <if test="gearBoxType != null"> AND a.gear_box_type_id = #{gearBoxType} </if>
            <if test="gearType != null"> AND a.gear_type_id = #{gearType} </if>
            <if test="enginePowerMin != null"> AND a.engine_power >= #{enginePowerMin} </if>
            <if test="enginePowerMax != null"> AND #{enginePowerMax} >= a.engine_power </if>
            <if test="horsePowerMin != null"> AND a.engine_horse_power >= #{horsePowerMin} </if>
            <if test="horsePowerMax != null"> AND #{horsePowerMax} >= a.engine_horse_power </if>
            <if test="destinationMin != null"> AND a.destination >= #{destinationMin} </if>
            <if test="destinationMax != null"> AND #{destinationMax} >= a.destination </if>
            <if test="destinationMeasure != null"> AND a.dest_measure_id = #{destinationMeasure} </if>
            <if test="numberOfSeats != null"> AND a.number_of_seats = #{numberOfSeats} </if>
        </where>

        ORDER BY ttl DESC LIMIT #{size} OFFSET #{page};
    </select>

    <select id="findCountOfAdsByAdsLink" resultType="Integer">
        SELECT COUNT(a.ads_link)
        FROM tb_adss a
        WHERE a.ads_link = #{adsLink, jdbcType=NVARCHAR};
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO allinonedb.tb_adss (ADS_LINK, IMAGE_LINK, DESTINATION, ENGINE_HORSE_POWER, ENGINE_POWER,
                                        NUMBER_OF_SEATS, PRICE, TTL, USED, PROD_YEAR,
                                        CITY_ID,
                                        BAN_TYPE_ID,
                                        COLOUR_ID, CURRENCY_ID, DEST_MEASURE_ID,
                                        FUEL_TYPE_ID, GEAR_BOX_TYPE_ID, GEAR_TYPE_ID, MODEL_ID)
        VALUES (#{adsLink, jdbcType=NVARCHAR},
                #{imageLink, jdbcType=NVARCHAR},
                #{destination},
                #{engineHorsePower},
                #{enginePower},
                #{numberOfSeats},
                #{price},
                #{ttl},
                #{used},
                #{year},
                (SELECT city_code FROM tb_city ci WHERE ci.name = #{city, jdbcType=NVARCHAR}),
                (SELECT ban_type_code FROM tb_ban_type bt WHERE bt.name = #{banType, jdbcType=NVARCHAR}),
                (SELECT colour_code FROM tb_colour co WHERE co.name = #{colour, jdbcType=NVARCHAR}),
                (SELECT currency_code FROM tb_currency cu WHERE cu.name = #{currency, jdbcType=NVARCHAR}),
                (SELECT dest_code FROM tb_dest_measure dm WHERE dm.name = #{destinationMeasure, jdbcType=NVARCHAR}),
                (SELECT fuel_type_code FROM tb_fuel_type ft WHERE ft.name = #{fuelType, jdbcType=NVARCHAR}),
                (SELECT gear_box_code FROM tb_gear_box_type gbt WHERE gbt.name = #{gearBoxType, jdbcType=NVARCHAR}),
                (SELECT gear_type_code FROM tb_gear_type gt WHERE gt.name = #{gearType, jdbcType=NVARCHAR}),
                (SELECT m.model_code FROM tb_model m LEFT JOIN tb_brand b ON m.brand_id = b.brand_code
                WHERE m.name = #{model, jdbcType=NVARCHAR} AND b.name = #{brand, jdbcType=NVARCHAR}));
    </insert>

    <sql id="adsBaseColumns">
        a.ads_link           as ads_link,
        a.image_link         as image_link,
        a.destination        as destination,
        a.engine_horse_power as engine_horse_power,
        a.engine_power       as engine_power,
        a.number_of_seats    as number_of_seats,
        a.price              as price,
        a.ttl                as ttl,
        a.used               as used,
        a.prod_year          as year,
        bt.name              as ban_type,
        ci.name              as city,
        co.name              as colour,
        cu.name              as currency,
        dm.name              as destination_measure,
        ft.name              as fuel_type,
        gbt.name             as gear_box_type,
        gt.name              as gear_type,
        m.name               as model,
        b.name               as brand
    </sql>

</mapper>