<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.all.in.one.allinone.mapper.mybatisMapper.AdsMapper">

    <select id="findAllAdsPageByPage" resultType="Ads">
        SELECT <include refid="adsBaseColumns"/>
        FROM tb_adss a
            LEFT JOIN tb_ban_type bt ON a.ban_type_id = bt.ban_type_code
            LEFT JOIN tb_city ci ON a.city_id = ci.city_code
            LEFT JOIN tb_colour co ON a.colour_id = co.colour_code
            LEFT JOIN tb_currency cu ON a.currency_id = cu.currency_code
            LEFT JOIN tb_dest_measure dm ON a.dest_measure_id = dm.dest_code
            LEFT JOIN tb_fuel_type ft ON a.fuel_type_id = ft.fuel_type_code
            LEFT JOIN tb_gear_box_type gbt ON a.gear_box_type_id = gbt.gear_box_code
            LEFT JOIN tb_gear_type gt ON a.gear_type_id = gt.gear_type_code
            LEFT JOIN tb_model m ON a.model_id = m.model_code
            LEFT JOIN tb_brand b ON m.brand_id = b.brand_code
        WHERE a.is_active = 1
        ORDER BY a.ttl
        DESC LIMIT #{limit}
        OFFSET #{from};
    </select>

    <select id="findAllAdsByFilter" resultType="Ads">
        SELECT
        <include refid="adsBaseColumns"/>
        FROM tb_adss a
            LEFT JOIN tb_ban_type bt ON a.ban_type_id = bt.ban_type_code
            LEFT JOIN tb_city ci ON a.city_id = ci.city_code
            LEFT JOIN tb_colour co ON a.colour_id = co.colour_code
            LEFT JOIN tb_currency cu ON a.currency_id = cu.currency_code
            LEFT JOIN tb_dest_measure dm ON a.dest_measure_id = dm.dest_code
            LEFT JOIN tb_fuel_type ft ON a.fuel_type_id = ft.fuel_type_code
            LEFT JOIN tb_gear_box_type gbt ON a.gear_box_type_id = gbt.gear_box_code
            LEFT JOIN tb_gear_type gt ON a.gear_type_id = gt.gear_type_code
            LEFT JOIN tb_model m ON a.model_id = m.model_code
            LEFT JOIN tb_brand b ON m.brand_id = b.brand_code

        <where>
            a.is_active = 1

            <if test="request.model != null and !request.model.isEmpty()">
                AND a.model_id IN
                <foreach item="mid" collection="request.model" separator="," open="(" close=")">
                     #{mid}
                </foreach>
            </if>
            <if test="request.model == null and request.brand != null">
                AND m.brand_id =#{request.brand}
            </if>

            <if test="request.used != null">AND a.used = #{request.used}</if>
            <if test="request.city != null and !request.city.isEmpty()">
                AND a.city_id IN
                <foreach item="cid" collection="request.city" separator="," open="(" close=")">
                    #{cid}
                </foreach>
            </if>
            <if test="request.priceMin != null">AND a.price >= #{request.priceMin}</if>
            <if test="request.priceMax != null">AND #{request.priceMax} >= a.price</if>
            <if test="request.currency != null">AND a.currency_id = #{request.currency}</if>
            <if test="request.banType != null and !request.banType.isEmpty()">
                AND a.ban_type_id IN
                <foreach item="btid" collection="request.banType" separator="," open="(" close=")">
                    #{btid}
                </foreach>
            </if>
            <if test="request.yearMin != null">AND a.prod_year >= #{request.yearMin}</if>
            <if test="request.yearMax != null">AND #{request.yearMax} >= a.prod_year</if>
            <if test="request.colour != null and !request.colour.isEmpty()">
                AND a.colour_id IN
                <foreach item="coid" collection="request.colour" separator="," open="(" close=")">
                    #{coid}
                </foreach>
            </if>
            <if test="request.fuelType != null and !request.fuelType.isEmpty()">
                AND a.fuel_type_id IN
                <foreach item="ftid" collection="request.fuelType" separator="," open="(" close=")">
                    #{ftid}
                </foreach>
            </if>
            <if test="request.gearBoxType != null and !request.gearBoxType.isEmpty()">
                AND a.gear_box_type_id IN
                <foreach item="gbtid" collection="request.gearBoxType" separator="," open="(" close=")">
                    #{gbtid}
                </foreach>
            </if>
            <if test="request.gearType != null and !request.gearType.isEmpty()">
                AND a.gear_type_id IN
                <foreach item="gtid" collection="request.gearType" separator="," open="(" close=")">
                    #{gtid}
                </foreach>
            </if>
            <if test="request.enginePowerMin != null">
                AND a.engine_power >= #{request.enginePowerMin}
            </if>
            <if test="request.enginePowerMax != null">
                AND #{request.enginePowerMax} >= a.engine_power
            </if>
            <if test="request.horsePowerMin != null">
                AND a.engine_horse_power >= #{request.horsePowerMin}
            </if>
            <if test="request.horsePowerMax != null">
                AND #{request.horsePowerMax} >= a.engine_horse_power
            </if>
            <if test="request.destinationMin != null">
                AND a.destination >= #{request.destinationMin}
            </if>
            <if test="request.destinationMax != null">
                AND #{request.destinationMax} >= a.destination
            </if>
            <if test="request.destinationMeasure != null">
                AND a.dest_measure_id = #{request.destinationMeasure}
            </if>
            <if test="request.numberOfSeats != null and !request.numberOfSeats.isEmpty()">
                AND a.number_of_seats IN
                <foreach item="nosid" collection="request.numberOfSeats" separator="," open="(" close=")">
                    #{nosid}
                </foreach>
            </if>
        </where>

        ORDER BY a.ttl
        DESC LIMIT #{limit}
        OFFSET #{from};
    </select>

    <select id="findCountOfAdsByAdsLink" resultType="Integer">
        SELECT COUNT(a.ads_link)
        FROM tb_adss a
        WHERE a.ads_link = #{adsLink, jdbcType=NVARCHAR};
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO allinonedb.tb_adss (ADS_LINK, IMAGE_LINK, DESTINATION, ENGINE_HORSE_POWER, ENGINE_POWER,
                                        NUMBER_OF_SEATS, PRICE, TTL, USED, PROD_YEAR,
                                        CITY_ID,
                                        BAN_TYPE_ID,
                                        COLOUR_ID, CURRENCY_ID, DEST_MEASURE_ID,
                                        FUEL_TYPE_ID, GEAR_BOX_TYPE_ID, GEAR_TYPE_ID, MODEL_ID)
        VALUES (#{adsLink, jdbcType=NVARCHAR},
                #{imageLink, jdbcType=NVARCHAR},
                #{destination},
                #{engineHorsePower},
                #{enginePower},
                #{numberOfSeats},
                #{price},
                #{ttl},
                #{used},
                #{year},
                (SELECT city_code FROM tb_city ci WHERE ci.name = #{city, jdbcType=NVARCHAR}),
                (SELECT ban_type_code FROM tb_ban_type bt WHERE bt.name = #{banType, jdbcType=NVARCHAR}),
                (SELECT colour_code FROM tb_colour co WHERE co.name = #{colour, jdbcType=NVARCHAR}),
                (SELECT currency_code FROM tb_currency cu WHERE cu.name = #{currency, jdbcType=NVARCHAR}),
                (SELECT dest_code FROM tb_dest_measure dm WHERE dm.name = #{destinationMeasure, jdbcType=NVARCHAR}),
                (SELECT fuel_type_code FROM tb_fuel_type ft WHERE ft.name = #{fuelType, jdbcType=NVARCHAR}),
                (SELECT gear_box_code FROM tb_gear_box_type gbt WHERE gbt.name = #{gearBoxType, jdbcType=NVARCHAR}),
                (SELECT gear_type_code FROM tb_gear_type gt WHERE gt.name = #{gearType, jdbcType=NVARCHAR}),
                (SELECT m.model_code FROM tb_model m LEFT JOIN tb_brand b ON m.brand_id = b.brand_code
                WHERE m.name = #{model, jdbcType=NVARCHAR} AND b.name = #{brand, jdbcType=NVARCHAR}));
    </insert>

    <update id="deactivate">
        UPDATE allinonedb.tb_adss
        SET IS_ACTIVE = 0
        WHERE ADS_LINK = #{adsLink, jdbcType=NVARCHAR};
    </update>

    <sql id="adsBaseColumns">
        a.ads_link           as ads_link,
        a.image_link         as image_link,
        a.destination        as destination,
        a.engine_horse_power as engine_horse_power,
        a.engine_power       as engine_power,
        a.number_of_seats    as number_of_seats,
        a.price              as price,
        a.ttl                as ttl,
        a.used               as used,
        a.prod_year          as year,
        bt.name              as ban_type,
        ci.name              as city,
        co.name              as colour,
        cu.name              as currency,
        dm.name              as destination_measure,
        ft.name              as fuel_type,
        gbt.name             as gear_box_type,
        gt.name              as gear_type,
        m.name               as model,
        b.name               as brand
    </sql>

</mapper>